PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
JWT_SECRET=cambia-esta-clave-en-produccion
JWT_EXPIRES=8h
COOKIE_NAME=mae_sesion

DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=Fundacion MAE
DB_USER=sa
DB_PASSWORD=
DB_ENCRYPT=false
DB_TRUST_CERT=true
